.search{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fff;
    padding-top: 1rem;
    // 头部
    .head{
        width: 100%;
        height: 1rem;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        background-color: #fff;
        border-bottom: 1px solid #eee;
        .top{
            width: 100%;
            height: 0.44rem;
            display: flex;
            align-items:center;
            margin-top:0.1rem;
            box-sizing: border-box;
            padding: 0 0.2rem;
            .am-search{
                background-color: #fff;
            }
            .am-search-value{
                background-color: #f2f2f2;
            }
        }
    }

    // hot
    .hot{
        box-sizing: border-box;
        padding: 0 0.2rem;
        padding-top: 0.5rem;
        h2{
            color: #999;
            margin-bottom: 0.3rem;
        }
        .hotTag{
            width: 100%;
           .tagp{
               margin:0.1rem 0.1rem;
           }

        }
    }

    .didSearch{
        width: 100%;
        background-color: #f5f4f4;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 1rem;
        .goodsList{
            background-color: #fff;
            width: 46%;
            height: 6.7rem;
            margin-bottom: 0.2rem;
            img{
                width: 100%;
                height: 5rem;
            }
            p{
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
                width: 100%;
                margin: 0.1rem 0;
            }
            .price{
                padding: 0 0.2rem;
                margin-bottom: 0.2rem;
                span{
                    float: right;
                }
                b{
                    float: left;
                }
            }
            .am-button{
                background-color: rgb(255, 87, 119);
                height: 0.5rem;
                width: 95%;
                color: #fff;
                margin: 0 auto;
                line-height: 0.5rem;
                display: block;
                margin-top: 0.5rem;
            }
        }
    }

}